
@import url('https://fonts.googleapis.com/css?family=Handlee|Jura|Poiret+One|Proza+Libre|Quicksand|Titillium+Web');



.bluebg {
 /*    background-image: url("http://res.cloudinary.com/dgzgxqcli/image/upload/c_scale,w_1200/v1478140628/callao.png");*/
  background-attachment: fixed;
  background-size: cover;
  margin-top: 30px;
 
      
}

.mainbox {
  padding: 0px;
  width:100%;
}

.jumbotron {
  border-radius: 10px;
  margin-bottom: 140px;
  width: 95%;
 // margin-left: 0px;
 // margin-right: 0px;
 
  background: #ebebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ebebeb , #ccdddf); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ebebeb , #ccdddf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div .claudio {
  color: #151515; 
font-family: 'Poiret One', cursive;
  font-size: 60px;

  display: inline-block;
}

div .uitext {
  float: right;
  font-family: 'Poiret One', cursive;
  font-size: 230%;
  color: #d65cad;
  margin-top: 40px;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

.aboutbox {
  background-color: #f1f1f1;
    background: -webkit-linear-gradient(to left, #f1f1f1 , #c2c2c2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f1f1f1 , #c2c2c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:  auto;
  margin-bottom: 140px;
  border-radius: 10px;
  width: 95%;
}



.btn-lg {
  margin-bottom: 20px;
}

.abouttext {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 60px auto 100px auto;
}

.img-circle {
  margin-bottom: 30px;
}
.newsimg {
  margin-top: 80px;
}
.examplesbox {
    background-color: #f1f1f1;
    background: -webkit-linear-gradient(to left, #f1f1f1 , #c2c2c2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f1f1f1 , #c2c2c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 20px auto;
  margin-bottom: 140px;
  border-radius: 10px;
  width: 95%;
}

.previews {
  width: auto;
  max-height: 255px;
}

.contactbox {
    background-color: #f1f1f1;
    background: -webkit-linear-gradient(to left, #f1f1f1 , #c2c2c2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f1f1f1 , #c2c2c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:  auto;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  width: 95%;
}


.socialmedia {
  text-align: center;
  margin-bottom: 30px;
}

.foots {
  font-size: 15px;
  text-align: center;
}


.skill-section {
    background-color: #efffff;
  border-radius: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 200px;
}

